<div class="container">
  <h1>Your cocktail</h1>
  <div>
    <p>
      <strong>Name:</strong>
      <%= @cocktail.name %>
    </p>
  </div>
  <div>
    <p><%= link_to "back to list", cocktails_path %></p>
  </div>
</div>

